@import "normalize";

@font-face {
  font-family: 'Catamaran Medium';
  font-display: swap;
  src: url("Catamaran-Medium.ttf");
}

@font-face {
  font-family: 'Catamaran';
  font-display: swap;
  src: url("Catamaran-Regular.ttf");
}

a {
  text-decoration: none;
}

p, span, a {
  font-family: 'Catamaran', sans-serif;
}

$row-sentinel-red: #dc0019;
$row-sentinel-red-brighter: #ff001d;
$row-sentinel-blue: #191e3e;
$background-grey: #F4F4F4;

$mobile-width: 520px;
$medium-width: 1000px;
$large-width: 1200px;

$max-content-width: 1200px;
$max-page-width: 1800px;

.page-width {
  max-width: $max-page-width;
  margin-left: auto;
  margin-right: auto;
}

.content-width {
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
}

.rowsentinel-logo {
    height: 120px;
    width: auto;
}

.header-content {
  display: flex;
}

.header-content > nav {
  display: inline-block;
}

.header-content > nav > a {
  font-family: 'Catamaran Medium', sans-serif;
  font-size: 1.2em;
  color: $row-sentinel-blue;
  transition: all 0.2s;
}


.header-content > nav > a:hover {
  text-decoration: underline;
}

.donate-button {
  font-family: 'Catamaran Medium', sans-serif;
  font-size: 1.2em;
  color: white;
  display: inline-block;
  padding: 18px 36px;
  background-color: $row-sentinel-red;
  box-sizing: border-box;
  transition: all 0.2s;
}

.donate-button:hover {
  background-color: $row-sentinel-red-brighter;
}

.vid-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;  /* 16:9 */
}

.promo-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.twobox {
  display: flex;
}

.twobox-cell {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.greybox {
  background-color: $background-grey;
}

.logobox {
  display: flex;
  justify-content: center;
}

.logocell {
  display: flex;
  justify-content: center;
}


.logocell > img {
  height: 140px;
  width: auto;
}


// Mobile screens only
@media only screen and (max-width: $mobile-width) {
  .twobox-image {
    min-height: 250px;
  }
  .logobox {
    flex-direction: column;
    align-items: center;
  }

  .logocell {
    margin: 20px;
  }

  .twobox-text-lower, .twobox-text-upper, .onebox-text {
    padding: 40px 10px 30px 10px;
  }

  .header-content > nav {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 25px;
  }

  .bronze-sponsors, .equipment-sponsors {
    flex-direction: column;
  }

  .bronze-sponsors .sponsor-logo-outer {
    height: 220px;
  }

  .equipment-sponsors .sponsor-logo-outer {
    height: 200px;
  }
}

// Tablet screens only
@media only screen and (min-width: $mobile-width + 1) and (max-width: $medium-width) {
  .twobox-image {
    min-height: 470px;
  }
  .twobox-text-lower, .twobox-text-upper {
    padding: 70px 20px 60px 20px;
  }

  .header-content > nav {
    padding-top: 10px;
    padding-bottom: 20px;
    display: flex;
  }
}

// Mobile and tablet
@media only screen and (max-width: $medium-width) {

  .header-content {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .header-content > nav > a {
    padding: 10px;
  }

  .twobox-upper {
    flex-direction: column-reverse;
  }

  .twobox-lower {
    flex-direction: column;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-content {
    flex-direction: column;
    padding: 20px 10px 10px 10px;
    justify-content: space-around;
    align-items: center;
  }

  .social-links, .contact {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sponsor-text {
    margin-top: 30px;
  }

  .sponsor-gold .sponsor-logo-outer {
    height: 300px;
    width: 100%;
  }

  .sponsor-silver .sponsor-logo-outer {
    height: 250px;
  }

  .sponsor-spectra .sponsor-logo-inner {
    max-width: 500px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .sponsor-drystone .sponsor-logo-inner {
    max-width: 400px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .sponsor-prometheus .sponsor-logo-inner {
    width: 40%;
  }

  .sponsor-velador .sponsor-logo-inner {
    width: 48%;
  }

  .sponsor-kinetic6 .sponsor-logo-inner {
    width: 72%;
  }

  .sponsor-serbus .sponsor-logo-inner {
    width: 72%;
  }

  .sponsor-levelpeaks .sponsor-logo-inner {
    width: 50%;
  }

  .social-logos {
    justify-content: center;
  }

  .sponsor-gold, .sponsor-silver {
    flex-direction: column;
  }

}

// Computer screens
@media only screen and (min-width: $medium-width + 1) {

  .twobox-image {
    min-height: 580px;
  }

  .header-content > nav > a {
    display: inline-block;
    margin-left: 20px;
  }

  .header-content > nav {
    margin-left: auto;
    margin-right: 28px;
  }

  .twobox-text-lower, .twobox-text-upper {
    max-width: 550px;
  }

  .twobox-text-lower {
    margin-right: 40px;
    margin-left: auto;
    padding-left: 20px;
  }

  .twobox-text-upper {
    margin-left: 40px;
    margin-right: auto;
    padding-right: 20px;
  }

  .header-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 28px;
    padding-bottom: 38px;
    justify-content: space-between;
    align-items: center;
  }

  .footer-content {
      justify-content: space-between;
  }

  .sponsor-gold .sponsor-text {
    padding-left: 40px;
    flex: 1;
  }

  .sponsor-gold .sponsor-logo-outer {
    height: 300px;
    flex: 1;
  }

  .sponsor-silver .sponsor-logo-outer {
    height: 220px;
    flex: 2;
  }

  .sponsor-silver .sponsor-text {
    padding-left: 40px;
    flex: 3;
  }

  .sponsor-spectra .sponsor-logo-inner {
    width: 75%;
  }

  .sponsor-drystone .sponsor-logo-inner {
    width: 70%;
  }

  .sponsor-prometheus .sponsor-logo-inner {
    width: 30%;
  }

  .sponsor-velador .sponsor-logo-inner {
    width: 38%;
  }

  .sponsor-kinetic6 .sponsor-logo-inner {
    width: 62%;
  }

  .sponsor-serbus .sponsor-logo-inner {
    width: 62%;
  }

  .sponsor-levelpeaks .sponsor-logo-inner {
    width: 40%;
  }


  .social-logos {
    justify-content: flex-start;
  }

  .social-links p {
    margin-left: 5px;
  }

  .sponsor-gold, .sponsor-silver {
    flex-direction: row;
  }
}

// Computer and tablet screens
@media only screen and (min-width: $mobile-width + 1) {
  .logocell {
    background-color: white;
    width: 300px;
    height: 190px;
    margin: 28px 22px;
    align-items: center;
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.02);
  }

  .logobox {
    background-color: $background-grey;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
  }

  .onebox-text {
    padding: 70px 20px 60px 20px;
  }

  .footer-content {
    padding: 60px 20px 60px 20px;
  }

  .bronze-sponsors .sponsor-logo-outer {
    height: 300px;
  }

  .equipment-sponsors .sponsor-logo-outer {
    height: 250px;
  }

}

.text-content > h2 {
  color: $row-sentinel-blue;
  font-family: 'Catamaran Medium', sans-serif;
  font-size: 2.6em;
  margin-bottom: 28px;
  margin-top: 0px;
}

.text-content > p {
  font-size: 1.4em;
  line-height: 1.6;
}

.img-ian {
  background-image: url(ian.jpg);
}

.img-map {
  background-image: url(map.png);
}

.twobox-image {
  background-size: cover;
  background-position: center;
}

footer {
  background-color: $background-grey;
  font-size: 1.2em;
}

.footer-content {
  display: flex;
}

.social-links p {
  margin-top: 0;
  margin-bottom: 10px;
}

.social-logos img {
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.facebook-logo {
  height: 40px;
}

.twitter-logo {
  height: 40px;
}

.youtube-logo {
  height: 46px;
}

.instagram-logo {
  height: 42px;
}

.social-logos {
  display: flex;
  width: 250px;
  align-items: center;
}

.contact > a {
  color: black;
  text-decoration: underline;
  overflow-wrap: anywhere;
}

.sponsors-container {
  margin-top: 70px;
}

.sponsors-container > h3 {
  color: $row-sentinel-blue;
  font-family: 'Catamaran Medium', sans-serif;
  font-size: 1.6em;
}

.sponsor-logo-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #F7F7F7;
  box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.05);
}

.sponsor-logo-inner img {
  height: auto;
  width: 100%;
}

.sponsor-container {
  display: flex;
  margin-bottom: 50px;
}

.sponsor-text {
  line-height: 1.6;
}
.sponsor-gold .sponsor-text {
  font-size: 1.4em;
}

.sponsor-silver .sponsor-text {
  font-size: 1.4em;
}

.sponsor-text p {
  margin-top: 0;
}

.bronze-sponsors > div {
  flex: 1;
}

.equipment-sponsors > div {
  flex: 1;
}

