{% extends "base.html" %}

{% import "sponsor.html" as sponsor %}

{% block head %}
    <title>Row Sentinel</title>
    <meta name="description" content="Solo North Atlantic Crossing">
{% endblock head %}

{% block body %}
      <header>
        <div class="header-content content-width">
          <img class="rowsentinel-logo" src="rowsentinel.svg" alt="Row Sentinel Logo"/>
          <nav>
            <a href="#about-ian">About Ian</a>
            <a href="#the-route">The Route</a>
            <a href="#press">Press &#38; Sponsorship</a>
          </nav>
          <a class="donate-button" href="{{ config.extra.dontation_url }}">Donate now</a>
        </div>
      </header>
      <main>
        <div class="content-width">
            <div class="vid-container">
              <iframe
                class="promo-vid"
                src="{{ config.extra.youtube_promo_url }}?modestbranding=1"
                frameborder="0"
                allow="autoplay; encrypted-media; picture-in-picture"
                allowfullscreen></iframe>
            </div>
        </div>

        <section id="the-challenge">
          <div class="content-width text-content onebox-text">
            <h2>Solo North Atlantic Crossing</h2>
            <p>
              In May 2021 Ian Rivers will embark on a solo unsupported row across
              the North Atlantic from New York to the Isles of Scilly. Using only a
              sextant as the main form of navigation, this 3,100 nautical mile
              crossing will test human endurance, navigation and seamanship to
              the absolute limit. Nobody has yet completed an unsupported solo
              from New York.
            </p>


            <p>
              The row is designed to raise money for the Special Air Service Regimental
              Association (SASRA) and St Michael’s Hospice in Hereford, whilst also raising
              awareness of the mental health challenges facing serving and veteran personnel.
              He has personally funded the £25,000 purchase of the Rossiter Ocean 2 boat to
              ensure the venture takes place.
            </p>

            <div class="logobox">
              <div class="logocell">
                <img src="stmichaels.jpg" alt="St Michaels Hospice Logo"/>
              </div>
              <div class="logocell">
                <img src="wingeddagger.png" alt="SAS Winged Dagger Logo"/>
              </div>
            </div>

            <p>
              The Boat will be named: ‘Sentinel’ after the SASRA mental health programme. Ian
              is a SASRA Sentinel.
              By facing this monumental challenge, Ian wants to raise in excess of £500,000
              for his two chosen charities.
            </p>
          </div>
        </section>
        <section id="social-media">
          <div class="content-width onebox-social">
          <h2>Updates</h2>
              <div class="twitterbox">
                <a class="twitter-timeline"
                    data-lang="en"
                    data-width="600"
                    data-height="600"
                    data-dnt="true"
                    href="https://twitter.com/rowsentinel?ref_src=twsrc%5Etfw">Tweets by rowsentinel</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              </div>
          </div>
        </section>

        <section id="about-ian">
          <div class="page-width twobox twobox-upper">
            <div class="twobox-cell twobox-image img-ian"></div>
            <div class="twobox-cell greybox">
              <div class="text-content twobox-text-upper">
                <h2>About Ian</h2>

                <p>
                Ian Rivers’ time in the Special Forces fuelled his passion for pure navigation.
                He became a trained mountain guide and ocean yacht-master, traversing all the
                major mountain ranges, deserts and oceans of the world.
                </p>


                <p>
                Having left the military in 2011, his skills were truly tested in 2013 when he
                was kidnapped in Syria. He successfully escaped, then navigated his way to
                safety using only natural indicators.
                </p>
              </div>
            </div>
          </div>
        </section>

        <section id="the-route">
          <div class="page-width twobox twobox-lower">
            <div class="twobox-cell greybox">
              <div class="text-content twobox-text-lower">
                <h2>The Route</h2>

                <p>
                The original North Atlantic or classic route is for purists. It goes back to
                the first ever ocean crossings by Frank Samuelsen and George Harbo in 1896. In
                modern times, Ridgeway and Blyth made the voyage in 1966 and the first solo
                crossing was completed by Tom McClean in 1969.
                </p>

                <p>
                What all these crossings have in common is the use of the sun and stars to
                navigate, and boats designed to be rowed, not propelled by prevailing winds.
                </p>
              </div>
            </div>
            <div class="twobox-cell twobox-image img-map"> </div>
          </div>
        </section>

        <section id="press">
          <div class="content-width text-content onebox-text">
            <h2>Press & Sponsorship</h2>

            <p>
            Ian has a PR team with more than 20 years experience in radio, television,
            print and online / digital journalism to manage publicity before, during and
            after the challenge. The strategy is to generate mainstream coverage,
            encouraging the public and organisations to donate to the charities.
            </p>

            <p>
            Ian is also seeking special sponsorship partners to support his
            Solo North Atlantic Row. Partners will have their logo displayed on
            the boat, and the coverage provided by the PR team will ensure a
            high profile for their company or project.
            </p>

            <p>
            With his experiences as a special forces soldier, international risk manager,
            sailor, mountaineer, cyclist, swimmer, triathlete and, most recently, a
            volunteer assisting veterans, Ian can also offer his time as a speaker for
            sponsors at both private or public events.
            </p>

            <div class="sponsor-tier">
              <h3>Platinum Sponsors</h3>
              <div class="sponsorlist platinum-sponsors">
			    {{ sponsor::logo(name="grenade", url=config.extra.grenade_url) }}
			    {{ sponsor::logo(name="crye", url=config.extra.crye_url) }}
              </div>
            </div>
            <div class="sponsor-tier">
              <h3>Gold Sponsors</h3>
              <div class="sponsorlist gold-sponsors">
			    {{ sponsor::logo(name="spectragroup", url=config.extra.spectragroup_url) }}
			    {{ sponsor::logo(name="hexegic", url=config.extra.hexegic_url) }}
			    {{ sponsor::logo(name="valbruna", url=config.extra.valbruna_url) }}
              </div>
            </div>
            <div class="sponsor-tier">
              <h3>Silver Sponsors</h3>
              <div class="sponsorlist silver-sponsors">
		        {{ sponsor::logo(name="drystone", url=config.extra.drystone_url) }}
              </div>
            </div>
            <div class="sponsor-tier">
              <h3>Bronze Sponsors</h3>
              <div class="sponsorlist bronze-sponsors">
			    {{ sponsor::logo(name="prometheus", url=config.extra.prometheus_url) }}
			    {{ sponsor::logo(name="dakin", url=config.extra.dakin_url) }}
			    {{ sponsor::logo(name="silverback", url=config.extra.silverback_url) }}
			    {{ sponsor::logo(name="velador", url=config.extra.velador_url) }}
			    {{ sponsor::logo(name="rowell", url=config.extra.rowell_url) }}
              </div>
              <div class="sponsorlist bronze-sponsors">
			    {{ sponsor::logo(name="harwin", url=config.extra.harwin_url) }}
			    {{ sponsor::logo(name="inspire", url=config.extra.inspire_url) }}
			    {{ sponsor::logo(name="elliotbrown", url=config.extra.elliotbrown_url) }}
			    {{ sponsor::logo(name="clearstorage", url=config.extra.clearstorage_url) }}
			    {{ sponsor::logo(name="ct", url=config.extra.ct_url) }}
              </div>
            </div>
            <div class="sponsor-tier">
              <h3>Equipment Sponsors</h3>
              <div class="sponsorlist equipment-sponsors">
			    {{ sponsor::logo(name="kinetic6", url=config.extra.kinetic6_url) }}
			    {{ sponsor::logo(name="levelpeaks", url=config.extra.levelpeaks_url) }}
			    {{ sponsor::logo(name="serbus", url=config.extra.serbus_url) }}
			    {{ sponsor::logo(name="halo", url=config.extra.halo_url) }}
			    {{ sponsor::logo(name="carnegie", url=config.extra.carnegie_url) }}
			    {{ sponsor::logo(name="511", url=config.extra.511_url) }}
              </div>
            </div>
          </div>
        </section>
      </main>
      <footer class="page-width">
        <div class="footer-content content-width">
          <div class="contact">
            <span>Contact:</span>
            <a href="mailto:{{ config.extra.email }}">
            {{ config.extra.email }}
            </a>
          </div>
          <div class="social-links">
            <p>Follow Row Sentinel</p>
            <div class="social-logos">
              <a href="{{ config.extra.facebook_url }}"><img class="facebook-logo" src="facebook.svg" alt="Facebook Logo"/></a>
              <a href="{{ config.extra.twitter_url }}"><img class="twitter-logo" src="twitter.svg" alt="Twitter Logo"/></a>
              <a href="{{ config.extra.youtube_url }}"><img class="youtube-logo" src="youtube.svg" alt="Youtube Logo"/></a>
              <a href="{{ config.extra.instagram_url }}"><img class="instagram-logo" src="instagram.svg" alt="Instagram Logo"/></a>
            </div>
          </div>
        </div>
      </footer>
{% endblock body %}
